<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ page.title }} - The Apache HTTP Server Project{% endblock %}</title>
    <link href="/css/apsite.css" rel="stylesheet" media="all" type="text/css" title="Main stylesheet">
</head>

<body>
    <div class="container">
        <div id="page-header">
            <a href="/">
                <img alt="" src="/images/httpd_logo_wide_new.png" class="apache-logo">
            </a>
        </div>
        <div id="apmenu">
            <!-- Navigation -->
            {% if page.metadata.flood is defined %}
            {% set sections = [
            ('Essentials', [
            ('/test/flood/building.html', 'Building'),
            ('/test/flood/faq.html', 'FAQ')
            ]),
            ('Download!', [
            ('http://www.apache.org/dyn/closer.lua/httpd/flood/', 'From a Mirror'),
            ('http://downloads.apache.org/httpd/', 'From Here')
            ]),
            ('Documentation', [
            ('http://svn.apache.org/repos/asf/httpd/flood/trunk/DESIGN', 'Design'),
            ('http://svn.apache.org/repos/asf/httpd/flood/trunk/CONFIG', 'Configuration')
            ])
            ] %}
            {% else %}
            {% set sections = [
            ('Essentials', [
            ('/download.cgi', 'Download!'),
            ('/ABOUT_APACHE.html', 'About'),
            ('https://www.apache.org/licenses/', 'License'),
            ('https://wiki.apache.org/httpd/FAQ', 'FAQ'),
            ('/security_report.html', 'Security Reports')
            ]),
            ('Source Repositories', [
            ('/dev/devnotes.html', 'General Information'),
            ('https://svn.apache.org/viewvc/httpd/httpd/trunk/', 'Trunk'),
            ('https://svn.apache.org/viewvc/httpd/httpd/branches/2.4.x/', '2.4')
            ]),
            ('Documentation', [
            ('/docs/2.4/', 'Version 2.4'),
            ('/docs/trunk/', 'Trunk (dev)'),
            ('https://wiki.apache.org/httpd/', 'Wiki')
            ]),
            ('Get Involved', [
            ('/lists.html', 'Mailing Lists'),
            ('/bug_report.html', 'Bug Reports'),
            ('/dev/', 'Developer Info'),
            ('/support.html', 'User Support')
            ]),
            ('Subprojects', [
            ('/docs-project/', 'Docs'),
            ('/test/', 'Test'),
            ('/test/flood/', 'Flood'),
            ('/apreq/', 'libapreq'),
            ('/modules', 'Modules'),
            ('/mod_fcgid/', 'mod_fcgid'),
            ('/mod_ftp/', 'mod_ftp')
            ]),
            ('Related Projects', [
            ('https://trafficserver.apache.org/', 'Apache Traffic Server'),
            ('https://trafficcontrol.apache.org/', 'Apache Traffic Control'),
            ('https://tomcat.apache.org/', 'Tomcat'),
            ('https://apr.apache.org/', 'APR'),
            ('http://perl.apache.org/', 'mod_perl')
            ]),
            ('Miscellaneous', [
            ('/info/', 'Contributors'),
            ('https://www.apache.org/foundation/thanks.html', 'Thanks!'),
            ('https://www.apache.org/foundation/sponsorship.html', 'Sponsorship')
            ])
            ] %}
            {% endif %}
            {% for section, links in sections %}
            <h2 id="{{ section|lower|replace(' ', '-') }}"><a class="headerlink"
                    href="#{{ section|lower|replace(' ', '-') }}" title="Permanent link">{{ section }}</a></h2>
            <ul>
                {% for link, text in links %}
                <li><a href="{{ link }}">{{ text }}</a></li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        <!-- RIGHT SIDE INFORMATION -->
        <div id="apcontents">
            {% block content %}
            {% endblock %}
            <!-- FOOTER -->
            <div id="footer">
                <p>Copyright &copy; 1997-{{ CURRENTYEAR }} The Apache Software Foundation.<br>
                    Apache HTTP Server, Apache, and the Apache feather logo are trademarks of The Apache Software
                    Foundation.</p>
            </div>
        </div>
    </div>
    <!-- Support Apache Image -->
    <div id="support-apache">
        <a href="https://www.apache.org/foundation/contributing.html">
            <img src="https://www.apache.org/images/SupportApache-small.png" alt="Support Apache" width="100"
                height="100">
        </a>
    </div>
</body>

</html>
